# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
../docker/apache/*
../docker/pgadmin/*
../docker/postgres/*
!../docker/postgres/Dockerfile
!../docker/apache/Dockerfile
